@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*
{
  padding:0;
  margin:0;
  border:0;
  box-sizing:border-box;
}

body {
  background-color: #d3d9dc;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* O corpo ocupará sempre a altura total da tela */
  margin: 0; /* Remove margens padrão */
}

img
{
  width:100%;
  max-width:100%;
  height:auto;
  vertical-align:middle;
}

header
{
  width:100%;
  background-color:#212675;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

header .logo
{
  width:200px;
  color: #c8fe08;
}

header span
{
  font-size:24pt;
  padding:10px 0px;
}

/* Expande o main para ocupar o espaço restante */
main {
  flex-grow: 1; /* Faz o main expandir para preencher o espaço restante */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px; /* Adiciona algum espaçamento interno */
  width: 100%;
}

/* Para centralizar e ajustar o conteúdo do resumo */
.wrapper {
  flex-grow: 1; /* Permite que o wrapper também cresça, caso necessário */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer
{
  width:100%;
  background-color:#212675;
  color:white;
  display:flex;
  flex-direction:column;
  padding:100px 0px;
  align-items:center;
}

footer .logo
{
  width:100px;
  color:#e4ff83;
}

footer span
{
  padding:15px 0px;
}

nav
{
  width:100%;
  display:flex;
  justify-content:center;
  padding:20px 0px;
  margin:0 auto;
}

nav ul
{
  list-style:none;
  display:flex;
  gap:20px;
  margin:0;
  padding:0;
}

nav ul li a {
  color:white;
  text-decoration:none;
  font-weight:400;
  transition:0.5s;
}

nav ul li a:hover {
  color:#c8fe08;
  transition:0.3s;
}

.teams-grid
{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.team-card {
  background-color: #e6f0f5;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Coloca o nome abaixo do emblema */
  align-items: center;
}

.team-card img {
  width: 120px;
  height: auto;
  margin-bottom: 10px; /* Espaço entre o emblema e o nome */
}

.team-name {
  font-weight: 600;
  color: #2f36a1; /* Azul médio */
  text-decoration: none; /* Remove o sublinhado */
}

.team-name:hover {
  color: #212675; /* Azul escuro ao passar o mouse */
}

.team-details {
  text-align: center;
  margin: 20px auto;
}

.team-details img {
  width: 250px;
  margin-bottom: 20px;
}

.team-details h1 {
  font-size: 24px;
  color: #2f36a1;
  text-transform: uppercase;
  padding: 15px 0px;
}

.team-details p {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.back-button {
  margin-top: 20px;
  text-align: center;
}

.back-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #212675; /* Azul escuro */
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.back-button a:hover {
  background-color: #c8fe08; /* Verde fluorescente */
  color: #212675; /* Texto azul escuro no hover */
}


